body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #FFA869;
    z-index: 2;
    
}

#navbar a {
    border-bottom: 2px solid black;
}

#navbar a:hover {
    color: blue;
    transition: 0.5s;
    border-bottom: 2px solid blue;
}

.home:nth-child(2n+1) {
    background-color: beige;
}

#navbar a:nth-child(2n):hover {
    color: greenyellow;
    transition: 0.5s;
    border-bottom: 2px solid greenyellow;
}



#list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none; 
}

#list a {
    text-decoration: none;
    color: black;
}

#logo {
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
}

.home {
    height: auto;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.home:nth-child(2n+1) {
    background-color: beige;
}

#home_sec {
    display: flex;
    flex-direction: column;
    height: 78.2vh;
    align-items: center;
    text-align: center;
    background-image: url(../../images/services-img.2205061416550.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#scroll {
    margin-right: 20%;
}

#scroll_p {
    position: absolute;
    bottom: 0;
    margin-bottom: 180px;
    font-size: 18px;
}

#down_arrow {
    position: absolute;
    width: 50px;
    height: 160px;
    bottom: 0;
    margin-bottom: 60px;
    
}

.section_p {
    width: 350px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 50px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat_photo {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 40em;
    height: 100%;
    margin-right: 1em;
}

#cat {
    background-image: url(../../images/pexels-achim-bongard-87217-352096.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#cat_fact {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

#btn button {
    margin-left: 40%;
}

#dog_photo {
    position: absolute;
    bottom: 1;
    right: 0%;
    width: 30em;
    height: 100%;
    margin-right: 10em;
    left:50%;
    margin-top: 130px;
    z-index: 1;
}

#dog_sec {
    color: white;
}

#dog {
    background-image: url(../../images/360_F_298740037_G7xkvwiiXf4fmU6w91opDJRfqX5DkjHr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#parrot_photo {
    position: absolute;
    width: 30em;
    height: 90%;
    right: 10%;
    bottom: 0;

}

#parrot {
    background-image: url(../../images/photo-1516528387618-afa90b13e000.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer {
    border: 5px solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    background-color: lightblue;

}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .section_p {
        width: 80%;
        height: auto;
        margin: 0;
        padding: 20px;
        padding-bottom: 0;
        order: 1;
        display: flex;
        flex-direction: column;
    }

    #cat_photo, #dog_photo, #parrot_photo {
        width: 100%;
        height: auto;
        min-height: 40vh;
        margin: 20px 0;
        position: static;
        order: 2;
    }

    #cat_photo {
        margin-bottom: 0;
    }

    #dog_sec {
        min-height: 80vh;
        
    }

    #dog_sec p {
        margin-top: -100px;
    }

    #dog_photo {
        bottom: 1;
        margin-bottom: 0;
        margin-top: 48vh;
        width: 60vh;
        position: absolute;
        left: 1rem;
    }

    #parrot_photo {
        margin-bottom: 0px;
    }

    #cat_fact {
        
        margin-left: 0%;
    }

    #btn button {
        margin-left: 0%;
        margin-right: 2%;
        margin-top: 10%;
        padding-left: 0;
    }

    
}